.container-option {
    position: relative;
    background-color: #fff;
    box-shadow: 0 6px 4px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 20px;
    margin: 12px;
}

.badge-option {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #E81E20;
    color: #fff;
    font-size: 12px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
}
img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.floating-button-rkk {
    position: fixed;
    right: 20px;
    bottom: 60px;
    font-size: 20px;
}

.container-task {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    box-shadow: 0 6px 4px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    min-height: auto;
    padding: 10px;
    position: relative;
}

.icon-task {
    font-size: 48px;
    margin-right: 20px;
}

.text-task {
    text-align: left;
}
.container-detail-task {
    min-height: auto;
    padding: 7px;
    background-color: #fff;
    box-shadow: 0 6px 4px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin-top: 110px;

}

.btn-header{
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    font-size: 1rem;
    line-height: 1.5;
    padding: 6px;
    border-top-right-radius: 13px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.container-detail-rkk {
    background-color: #EFEFEF;
}

.detail-rkk-pd {
    padding: 10px;
}
.container-add-rkk {
    margin-bottom: 56px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 120px;
}
.appBottomMenu {
    min-height: 56px;
    position: fixed;
    z-index: 999;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #e1e1e1;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: env(safe-area-inset-bottom);
}

.fix-header{
    position: fixed;
    top: 0;
    z-index: 9999;
}

.badge-status-new {
    position: absolute;
    top: 0;
    right: 0;
    background-color: green;
    color: white;
    padding: 4px 10px;
    border-radius: 10px;
}
.badge-status-read {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #FFD700;
    color: white;
    padding: 4px 10px;
    border-radius: 10px;
}

.badge-status-revisi {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: white;
    padding: 4px 10px;
    border-radius: 10px;
}

.mt-7{
    margin-top: 70px;
}
