.container-option {
    position: relative;
    background-color: #fff;
    box-shadow: 0 6px 4px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 20px;
    margin: 12px;
}

.badge-option {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #e81e20;
    color: #fff;
    font-size: 12px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
}
img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.floating-button-rkk {
    position: fixed;
    right: 20px;
    bottom: 60px;
    font-size: 20px;
}

.container-task {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    box-shadow: 0 6px 4px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    min-height: auto;
    padding: 10px;
    position: relative;
}

.icon-task {
    font-size: 48px;
    margin-right: 20px;
}

.text-task {
    text-align: left;
}
.container-detail-task {
    min-height: auto;
    padding: 7px;
    background-color: #fff;
    box-shadow: 0 6px 4px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin-top: 110px;
}
.container-detail-task td .tdh {
    white-space: nowrap;
}
.container-detail-task td {
    line-break: anywhere;
    white-space: pre-line;
}
.container-detail-tugas {
    margin-bottom: 56px;
}
.container-tugas-proses {
    min-height: auto;
    padding: 7px;
    background-color: #fff;
    box-shadow: 0 6px 4px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.btn-header {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    font-size: 1rem;
    line-height: 1.5;
    padding: 6px;
    border-top-right-radius: 13px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.container-detail-rkk {
    background-color: #efefef;
}

.detail-rkk-pd {
    padding: 10px;
}
.container-add-rkk {
    margin-bottom: 56px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 120px;
}
.appBottomMenu {
    min-height: 56px;
    position: fixed;
    z-index: 999;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #e1e1e1;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: env(safe-area-inset-bottom);
}

.fix-header {
    position: fixed;
    top: 0;
    z-index: 9999;
}

.badge-status-new {
    position: absolute;
    top: 0;
    right: 0;
    background-color: green;
    color: white;
    padding: 4px 10px;
    border-radius: 10px;
}
.badge-status-read {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ffd700;
    color: white;
    padding: 4px 10px;
    border-radius: 10px;
}

.badge-status-revisi {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: white;
    padding: 4px 10px;
    border-radius: 10px;
}
.badge-status-proses {
    position: absolute;
    top: 0;
    right: 0;
    background-color: yellow;
    color: white;
    padding: 4px 10px;
    border-radius: 10px;
}

.mt-7 {
    margin-top: 70px;
}

body {
    background-color: #f9f9fa;
}

@media (min-width: 992px) {
    .page-container {
        max-width: 1140px;
        margin: 0 auto;
    }

    .page-sidenav {
        display: block !important;
    }
}

.padding {
    padding: 2rem;
}

.w-32 {
    width: 32px !important;
    height: 32px !important;
    font-size: 0.85em;
}

.tl-item .avatar {
    z-index: 2;
}

.circle {
    border-radius: 500px;
}

.gd-warning {
    color: #fff;
    border: none;
    background: #f4c414 linear-gradient(45deg, #f4c414, #f45414);
}

.timeline {
    position: relative;
    border-color: rgba(160, 175, 185, 0.15);
    padding: 0;
    margin: 0;
}

.p-4 {
    padding: 1.5rem !important;
}

.block,
.card {
    background: #fff;
    border-width: 0;
    border-radius: 0.25rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    margin-bottom: 1.5rem;
}

.mb-4,
.my-4 {
    margin-bottom: 1.5rem !important;
}

.tl-item {
    border-radius: 3px;
    position: relative;
    display: -ms-flexbox;
    display: flex;
}

.tl-item > * {
    padding: 10px;
}

.tl-item .avatar {
    z-index: 2;
}

.tl-item:last-child .tl-dot:after {
    display: none;
}

.tl-item.active .tl-dot:before {
    border-color: #d10a25;
    box-shadow: 0 0 0 4px rgba(68, 139, 255, 0.2);
}

.tl-item:last-child .tl-dot:after {
    display: none;
}

.tl-item.actived .tl-dot:before {
    border-color: #0f8668;
    box-shadow: 0 0 0 4px rgba(68, 139, 255, 0.2);
}

.tl-item.active .tl-dot:before {
    border-color: #e7053a;
    box-shadow: 0 0 0 4px rgba(68, 139, 255, 0.2);
}

.tl-dot {
    position: relative;
    border-color: rgba(160, 175, 185, 0.15);
}

.tl-dot:after,
.tl-dot:before {
    content: "";
    position: absolute;
    border-color: inherit;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
}

.tl-dot:after {
    width: 0;
    height: auto;
    top: 25px;
    bottom: -15px;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    border-radius: 0;
}

tl-item.active .tl-dot:before {
    border-color: #d20b12;
    box-shadow: 0 0 0 4px rgba(68, 139, 255, 0.2);
}

.tl-dot {
    position: relative;
    border-color: rgba(160, 175, 185, 0.15);
}

.tl-dot:after,
.tl-dot:before {
    content: "";
    position: absolute;
    border-color: inherit;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
}

.tl-dot:after {
    width: 0;
    height: auto;
    top: 25px;
    bottom: -15px;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    border-radius: 0;
}

.tl-content p:last-child {
    margin-bottom: 0;
}

.tl-date {
    font-size: 0.85em;
    margin-top: 2px;
    min-width: 100px;
    max-width: 100px;
}

.avatar {
    position: relative;
    line-height: 1;
    border-radius: 500px;
    white-space: nowrap;
    font-weight: 700;
    border-radius: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    border-radius: 500px;
    box-shadow: 0 5px 10px 0 rgba(50, 50, 50, 0.15);
}

.b-warning {
    border-color: #000000 !important;
}

.b-primary {
    border-color: #448bff !important;
}

.b-danger {
    border-color: #f54394 !important;
}

.b-success {
    border-color: #0ab889 !important;
}

.b-proccess {
    border-color: grey !important;
}

.text-green {
    color: #0ab889;
}
